:root {
	/* FONT  */
	--font-family: 'Nunito Sans', sans-serif;
	--second-family: 'NEXT ART', sans-serif;
	--third-family: 'Inter', sans-serif;

	/* FONT-COLOR  */
	--primary-color: #fdfdfd;
	--green-color: #1a3e3e;
	--black-color: #18121e;
	--accent-color: #f2be22;

	--transition: all 0.3s;

	/* CONTAINER  */
	--container-width: 1150px;
	--container-padding-x: 0.9375rem;
}
