.tour {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5rem;
		padding-bottom: 6.25rem;
	}

	&__subtitle {
		padding-bottom: 0.5rem;
	}

	&__title {
		padding-bottom: 3.125rem;
		text-align: center;

		@media (max-width: 576px) {
			padding-bottom: 2rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1.25rem;

		@media (max-width: 1200px) {
			flex-wrap: wrap;
		}
	}

	&__btn {
		max-width: 15.25rem;
		min-height: 3.25rem;
		font-weight: 600;
		font-size: 1rem;
		line-height: 125%;
		letter-spacing: 0.01em;
		padding: 0.75rem 1.5rem;
		margin-top: 3.125rem;
	}
}

.card {
	position: relative;
	max-width: 100%;
	overflow: hidden;
	cursor: pointer;

	@media (max-width: 992px) {
		max-width: calc(100vw - 12.5rem);
		width: 100%;
	}

	@media (max-width: 768px) {
		max-width: calc(100vw - 2rem);
		width: 100%;
	}

	&:hover {
		.card__info {
			top: 0;
			border-radius: 2rem;

			@media (max-width: 576px) {
				border-radius: 1.5rem;
			}
		}
		.card__text {
			opacity: 1;
		}
	}

	&__media {
		position: relative;
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}

	&__rating {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		position: absolute;
		top: 3.125rem;
		right: 0;
		padding: 0.625rem;
		backdrop-filter: blur(4px);
		background: rgba(253, 253, 253, 0.4);

		img {
			width: 18px;
			height: 17px;
		}

		span,
		p {
			font-weight: 700;
			font-size: 0.875rem;
			line-height: 129%;
			color: var(--green-color);
			transform: translateY(2px);
		}
	}

	&__info {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		 top: calc(80% - (100vw - 992px) * 0.05);
		border-bottom-right-radius: 2rem;
		border-bottom-left-radius: 2rem;
		backdrop-filter: blur(6px);
		background: rgba(255, 255, 255, 0.2);
		display: flex;
		flex-direction: column;
		padding: 1.875rem 2rem;
		z-index: 4;
		transition: all 0.4s ease-in-out;

		

		

		@media (max-width: 576px) {
			top: calc(65% - (100vw - 992px) * 0.05);
			padding: 2rem 1rem;
			border-bottom-right-radius: 1.5rem;
		border-bottom-left-radius: 1.5rem;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-text {
			
			@media (max-width: 576px) {
				max-width: 12rem;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 120%;
		color: var(--primary-color);
		padding-bottom: 0.5rem;
		@media (max-width: 768px) {
			font-size: 1.125rem;
		}
		@media (max-width: 576px) {
			font-size: 1rem;
		}
	}

	&__subtitle {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 129%;
		color: var(--primary-color);
	}

	&__price {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 120%;
		border-radius: 0.25rem;
		padding: 0.5rem 1rem;
		background: rgba(255, 255, 255, 0.3);

		@media (max-width: 576px) {
			padding: 0.1rem 0.2rem;
			font-size: 1rem;
		}
	}

	&__text {
		padding-top: 38px;
		font-weight: 400;
		font-size: 1rem;
		line-height: 150%;
		color: var(--primary-color);
		padding-bottom: 3.75rem;
		opacity: 0;


		@media (max-width: 576px) {
			padding-block: 2rem;
		}
	}

	&__btn {
		max-width: 12rem;
		font-weight: 600;
		font-size: 1rem;
		line-height: 125%;
		letter-spacing: 0.01em;
		padding: 0.75rem 1.5rem;
	}
}
