@font-face {
	font-family: 'Inter';
	src:
		local('Inter SemiBold'),
		local('Inter-SemiBold'),
		url('../../fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NEXT_ART';
	src:
		local('NEXT ART BOLD'),
		local('NEXT_ART_Bold'),
		url('../../fonts/NEXT_ART_Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NunitoSans';
	src:
		local('NunitoSans Bold'),
		local('NunitoSans-Bold'),
		url('../../fonts/NunitoSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NunitoSans';
	src:
		local('NunitoSans ExtraBold'),
		local('NunitoSans-ExtraBold'),
		url('../../fonts/NunitoSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NunitoSans';
	src:
		local('NunitoSans Light'),
		local('NunitoSans-Light'),
		url('../../fonts/NunitoSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NunitoSans';
	src:
		local('NunitoSans Regular'),
		local('NunitoSans-Regular'),
		url('../../fonts/NunitoSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NunitoSans';
	src:
		local('NunitoSans SemiBold'),
		local('NunitoSans-SemiBold'),
		url('../../fonts/NunitoSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
